.chart {
  padding: 1rem;
  border-radius: 4px;
  background-color: #dee2e6;
  text-align: center;
  width: 90%;
  margin: 4.8rem auto;
  display: flex;
  justify-content: space-around;
  height: 20rem;
}
