.new-expense {
  width: 90%;
  margin: 6.4rem auto;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  align-items: center;
  gap: 4.8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

label {
  font-size: 1.6rem;
}

input,
select {
  border: 1px solid #1864ab;
  border-radius: 4px;
  padding: 1.8rem 1rem;

  background: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

input:focus,
select:focus {
  outline: none;
  background: #e7f5ff;
}

.control {
  display: flex;
  justify-content: space-between;
  grid-column: 2/3;
}

.new-expense__btn {
  margin: 4.8rem auto;
  font-size: 1.8rem;
}
