@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
  background: #f1f1f1;
}

/* Heading */

h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3.2rem 0;
}
